---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<h2>Journal Articles</h2>

<ul>
  <li>
    Liao, X., & Zhang, Y. (2023). 
    <em>Stylistic and linguistic variations in compliments: an empirical analysis of children’s gender schema development with machine learning algorithms.</em> 
    <i>Humanities and Social Sciences Communications, 10(1)</i>.
    <a href="https://doi.org/10.1057/s41599-023-01648-4" target="_blank">[Link]</a>
  </li>
</ul>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



