---
layout: archive
title: "Publications"
permalink: /publications and presentations/
author_profile: true
---
<h2 style="margin:2rem 0 0"> Journal articles </h2 >
<hr style="margin:0.5rem 0 0">

**Liao, Xinyu** & **Zhang, Yanhui.** (2023). “Stylistic and linguistic variations in compliments: an empirical analysis of children’s gender schema development with machine learning algorithms.”  
_Humanities and Social Sciences Communications_, 10(1), 1–12. [🔗 DOI](https://doi.org/10.1057/s41599-023-01648-4)


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



