---
layout: archive
permalink: /publications/
author_profile: true
---

<h2>Journal Articles</h2>
<hr style="margin:0.5rem 0 0">
<p>
  Gardner, Matt Hunt &amp; <b>Xinyu Liao</b>.(Under Review). 
  Easy, chunky, all the time: Cognitive load, idiomaticity, and frequency of variable verb–particle constructions in Present‑Day English. 
  <i>Language &amp Cognition</i>. 
</p>

<p>
  <b>Liao, Xinyu </b> &amp; Yanhui Zhang.(2023). 
  Stylistic and linguistic variations in compliments: an empirical analysis of children’s gender schema development with machine learning algorithms. 
  <i>Humanities and Social Sciences Communications</i>, 10(1), 1–12. 
  <a href="https://doi.org/10.1057/s41599-023-01648-4" target="_blank">https://doi.org/10.1057/s41599-023-01648-4</a>
</p>

<p>
  Miao, Weishan, Bin Ai, &amp; <b>Xinyu Liao</b>. (2022). 
  International Engagement or Local Commitment? Investigating the Publication Practices of Chinese Returnee Scholars in the Humanities and Social Sciences. 
  <i>Journal of Scholarly Publishing</i>, 53(4), 249–270. 
  <a href="https://doi.org/10.3138/jsp-2022-0014" target="_blank">https://doi.org/10.3138/jsp-2022-0014</a>
</p>

<h2>Conference Proceedings</h2>
<hr style="margin:0.5rem 0 0">

<p>
  <b>Liao, Xinyu</b>. (2023). 
  Performing ‘husband and wife’ relationships among Chinese gay couples: variations in pitch properties and sibilants in Mandarin. 
  <i>University of Pennsylvania Working Papers in Linguistics (PWPL)</i>, 29(1), 128–138. 
  <a href="https://repository.upenn.edu/pwpl/vol29/iss1/15/" target="_blank">https://repository.upenn.edu/pwpl/vol29/iss1/15/</a>
</p>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



