---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---
<h2>Invited Talks</h2>
<hr style="margin:0.5rem 0 0">
Wang, Tianxiao, <b> Xinyu Liao </b> &amp; Yunbo Mei. (Forthcoming). Perceiving feminine accent: gendered
style and sexuality in social perception of alveolo-palatal fricative /ɕ/-fronting in Mandarin.
Oral presentation at <i> Young Scholars’ Symposium on Sociophonetics </i>, University of Macau, Macau, China.
<p>
  
</p>

<h2>Conference and Workshop Presentations</h2>
<hr style="margin:0.5rem 0 0">

<p>
<b> Liao, Xinyu </b> &amp; Yoonjung Kang. (Forthcoming). Directional bias, lexical competition, and item frequency effects in sound change: experimental evidence from perceptual learning.
Oral presentation at <i> 2026 Linguistic Society of America (LSA) Annual Meeting </i>, January 8-11, 2026. New Orleans, Louisiana, USA.
</p>

<p>
<b> Liao, Xinyu </b> &amp; Yoonjung Kang. (2025). Word frequency and biases in phonetic recalibration. Poster presentation at <i> ABSPEK: Abstract and Item-Specific Knowledge Across Domains and Frameworks </i>, July 26-27, 2025. University of Oregon, Eugene, USA.
</p>

<p>
<b> Liao, Xinyu </b>. (2025). Tone-to-stress adaptation of Mandarin loanwords in English. Oral presentation at <i> Montreal-Ottawa-Toronto-Hamilton Phonology/Phonetics Workshop 2025 </i>, April 4-5, 2025. University of Toronto, Toronto, Canada.
</p>

<p>
<b> Liao, Xinyu </b>. (2024). Asymmetries in the learnability of new dialect features across the lifespan. Oral presentation at <i> New Ways of Analyzing Variation (NWAV) 52 </i>, November 7-9, 2024. Miami, Florida, USA.
</p>


<p>
<b> Liao, Xinyu </b>. (2022). Co-constructing ‘husband and wife’ relationships among Chinese gay couples in vlogs: feminine accent and variations of alveolo-palatal initials in Mandarin Chinese.
  Oral presentation at <i> New Ways of Analyzing Variation (NWAV) 50 </i>, October 13-15, 2022. Stanford University, USA.
</p>

<p>
<b> Liao, Xinyu </b>. (2022). Reappropriating heteronormative practices among Chinese gay couples in social media: variations and indexicality of pitch and sibilant fricatives.
  Oral presentation at <i> 46th Annual Penn Linguistics Conference (PLC 46) </i>, March 18-20, 2022. University of Pennsylvania, USA.
</p>



{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
