---
layout: archive
permalink: /talks/
author_profile: true
---
<h2>Invited Talks</h2>
<hr style="margin:0.5rem 0 0">
<p>
<b> Liao, Xinyu</b>. (2024). Areal diffusion and the evolution of Tsat: a mixed language in Hainan,
China. Oral presentation at Workshop of Languages in China, All Souls College, University of Oxford, UK.
</p>

<h2>Conference and Workshop Presentations</h2>
<hr style="margin:0.5rem 0 0">

<p>
<b> Liao, Xinyu Leslie </b> &amp; Yoonjung Kang. (2026). Directional bias, lexical competition, and item frequency effects in sound change: experimental evidence from perceptual learning.
Oral presentation at 102nd Linguistic Society of America (LSA) Annual Meeting 2026, January 8-11, 2026. New Orleans, Louisiana, USA. <b>[First place of LSA Student
Abstract Award]</b> <a href="https://drive.google.com/file/d/1dmfTZ0AqcVTMhuBlw7lAmBclR5ARk96A/view?usp=sharing" target="_blank">[Slides here]</a>
</p>

<p>
Wang, Tianxiao, <b> Xinyu Liao </b> &amp; Yunbo Mei. (2025). Perceiving feminine accent: gendered
style and sexuality in social perception of alveolo-palatal fricative /ɕ/-fronting in Mandarin.
Oral presentation at 2025 Young Scholars’ Symposium on Sociophonetics [2025社会语音学青年论坛], November 21-23, 2025, University of Macau, Macau, China.<a href="https://drive.google.com/file/d/1pJtY4TvmozViFEp8ErxQADeZLfotSZvC/view?usp=sharing" target="_blank">[Slides here]</a>
</p>

<p>
<b> Liao, Xinyu </b> &amp; Yoonjung Kang. (2025). Word frequency and biases in phonetic recalibration. Poster presentation at ABSPEK: Abstract and Item-Specific Knowledge Across Domains and Frameworks, July 26-27, 2025. University of Oregon, Eugene, USA.
  <a href="https://drive.google.com/file/d/1Vhkusopvdx1tifql0dTK920t-ie0RPgE/view?usp=drive_link" target="_blank">[Poster here]</a>
</p>

<p>
<b> Liao, Xinyu</b>. (2025). Tone-to-stress adaptation of Mandarin loanwords in English. Oral presentation at Montreal-Ottawa-Toronto-Hamilton (MOTh) Phonology/Phonetics Workshop 2025, April 4-5, 2025. University of Toronto, Toronto, Canada.
  <a href="https://drive.google.com/file/d/1sxbcLE3rlqfZX7GdcVmSzYxrylmwvdtB/view?usp=drive_link" target="_blank">[Slides here]</a>
</p>

<p>
<b> Liao, Xinyu</b>. (2024). Asymmetries in the learnability of new dialect features across the lifespan. Oral presentation at New Ways of Analyzing Variation (NWAV) 52, November 7-9, 2024. Miami, Florida, USA.
  <a href="https://drive.google.com/file/d/1LZ5466wcG93lrQ9tPLKBvrwnz7sJIgHO/view?usp=drive_link" target="_blank">[Slides here]</a>
</p>


<p>
<b> Liao, Xinyu</b>. (2022). Co-constructing ‘husband and wife’ relationships among Chinese gay couples in vlogs: feminine accent and variations of alveolo-palatal initials in Mandarin Chinese.
  Oral presentation at New Ways of Analyzing Variation (NWAV) 50, October 13-15, 2022. Stanford University, USA.
  <a href="https://drive.google.com/file/d/1jyZGKBDshUKwGJb6T6Xy2ankDl51K4cb/view?usp=drive_link" target="_blank">[Slides here]</a>
</p>

<p>
<b> Liao, Xinyu</b>. (2022). Reappropriating heteronormative practices among Chinese gay couples in social media: variations and indexicality of pitch and sibilant fricatives.
  Oral presentation at 46th Annual Penn Linguistics Conference (PLC 46), March 18-20, 2022. University of Pennsylvania, USA.
</p>



{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
